<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.dao.sm.MenuDataMapper">
    <resultMap id="MultiBaseResultMap" type="com.zoe.phip.model.sm.MenuData" extends="BaseResultMap">
        <association property="parentMenu" column="FK_PARENT_MENU_ID" select="getParentMenuById" fetchType="lazy"/>
    </resultMap>

    <select id="getCompetenceMenuByUser" parameterType="java.lang.String" resultMap="MultiBaseResultMap">
        SELECT DISTINCT t.ID, t.NAME, t.CODE, t.ADDRESS, t.FK_PARENT_MENU_ID, t.CREATE_AT, t.CREATE_BY, t.MODIFY_AT,
        t.MODIFY_BY, t.STATE, NULL COMPETENCE_ID, NULL NAME_PATH
        FROM SYS_MENU_DATA t
        INNER JOIN SYS_MENU_COMPETENCE MC ON MC.FK_MENU_ID = T.ID
        INNER JOIN SYS_USER_COMPETENCE UC ON UC.FK_COMPETENCE_CATEGORY_ID = MC.FK_COMPETENCE_CATEGORY_ID
        INNER JOIN SYS_SYSTEM_USER U ON U.ID = UC.FK_USER_ID
        WHERE t.STATE = 1 AND U.STATE = 1 AND UC.FK_USER_ID = #{userId}
        order by t.CODE
    </select>

    <select id="getMenuById" parameterType="java.lang.String" resultMap="MultiBaseResultMap" >
        SELECT *
        from SYS_MENU_DATA t
        WHERE t.ID=#{menuId}
    </select>


    <select id="getParentMenuById" parameterType="java.lang.String" resultMap="MultiBaseResultMap">
        SELECT *
        from SYS_MENU_DATA t
        WHERE t.ID=#{menuId}
      /*  SELECT *
        from SYS_MENU_DATA t1,SYS_MENU_DATA t2
        WHERE 1=1 AND t1.STATE = 1 AND t1.ID=t2.FK_PARENT_MENU_ID AND t1.ID=#{menuId}*/

    </select>
    <select id="getMenuPages" parameterType="java.lang.String" resultMap="MultiBaseResultMap">
--         SELECT *
--         FROM SYS_MENU_DATA t
--         where 1=1 and UPPER (t.ADDRESS) LIKE UPPER (CONCAT(CONCAT('%',#{key,jdbcType=VARCHAR}),'%'))
--
      SELECT * FROM SYS_MENU_DATA t
      where regexp_like(t.address,'+#{key,jdbcType=VARCHAR}+','i')

    </select>

</mapper>