<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.web.dao.sm.ISystemUserMapper">
    <resultMap id="MultiResultMap" type="com.zoe.phip.web.model.sm.SystemUser" extends="BaseResultMap">
    </resultMap>
    <select id="getUserList" resultMap="MultiResultMap" parameterType="java.util.Map">
        select * from SYS_SYSTEM_USER
        <where>
            <if test="_parameter.containsKey('key') and _parameter.containsKey('key')!=''">
                (UPPER(NAME) LIKE #{key,jdbcType=VARCHAR} OR UPPER(LOGIN_NAME) LIKE
                #{key,jdbcType=VARCHAR})
            </if>
            <if test="_parameter.containsKey('state')">
                AND STATE = #{state,jdbcType=INTEGER}
            </if>
            <include refid="com.zoe.phip.module.service.selfWhere"/>
        </where>
    </select>
</mapper>