<#assign className = table.className>
<#assign baseDaoName="com.zoe.phip.module.service">
        <?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${basepackage}.(这里要自己改).I${className}Mapper">
<resultMap id="BaseResultMap" type="${basepackage}.(这里要自己改).model.${className}" extends="com.zoe.phip.module.service.MasterEntityResultMap">
    <#list table.columns as field>
    <#if field.entityName?uncap_first!="id"&&field.entityName?uncap_first!="modifyAt"
    &&field.entityName?uncap_first!="createBy"&&field.entityName?uncap_first!="createAt"
    &&field.entityName?uncap_first!="state"&&field.entityName?uncap_first!="modifyBy">
    <result column="${field.sqlName}" property="${field.entityName?uncap_first}" javaType="${field.javaType}"
            jdbcType="${field.jdbcType?upper_case}"/>
</#if>
</#list>
        </resultMap>
<insert id="addList" parameterType="${basepackage}.这里要自己改">
INSERT INTO ${table.sqlName} (
<#list table.columns as field>
<#if field.entityName?uncap_first!="id"&&field.entityName?uncap_first!="modifyAt"
&&field.entityName?uncap_first!="createBy"&&field.entityName?uncap_first!="createAt"
&&field.entityName?uncap_first!="state"&&field.entityName?uncap_first!="modifyBy">
${field.sqlName},
</#if>
        </#list>
<include refid="${baseDaoName}.baseMasterEntityInsert"/>)
<foreach collection="list" item="item" index="index" close="" open="" separator="union all">
SELECT
<#list table.columns as field>
<#if field.entityName?uncap_first!="id"&&field.entityName?uncap_first!="modifyAt"
&&field.entityName?uncap_first!="createBy"&&field.entityName?uncap_first!="createAt"
&&field.entityName?uncap_first!="state"&&field.entityName?uncap_first!="modifyBy">
${r'#'}{item.${field.entityName?uncap_first},jdbcType=${field.jdbcType?upper_case}},
</#if>
        </#list>
<include refid="${baseDaoName}.baseMasterEntitySelect"/>
        FROM DUAL
        </foreach>
        </insert>
<insert id="defaultAdd" parameterType="java.util.List">
INSERT INTO ${table.sqlName} (
<#list table.columns as field>
<#if field.entityName?uncap_first!="id"&&field.entityName?uncap_first!="modifyAt"
&&field.entityName?uncap_first!="createBy"&&field.entityName?uncap_first!="createAt"
&&field.entityName?uncap_first!="state"&&field.entityName?uncap_first!="modifyBy">
${field.sqlName},
</#if>
        </#list>
<include refid="${baseDaoName}.baseMasterEntityInsert"/>)
 VALUES(
<#list table.columns as field>
<#if field.entityName?uncap_first!="id"&&field.entityName?uncap_first!="modifyAt"
&&field.entityName?uncap_first!="createBy"&&field.entityName?uncap_first!="createAt"
&&field.entityName?uncap_first!="state"&&field.entityName?uncap_first!="modifyBy">
${r'#'}{${field.entityName?uncap_first},jdbcType=${field.jdbcType?upper_case}},
</#if>
        </#list>
<include refid="${baseDaoName}.baseMasterEntitySelectDefault"/>
     )
        </insert>
<delete id="deleteByIds" parameterType="java.lang.String">
delete from ${table.sqlName} where ID in
<foreach collection="array" item="item" open="(" separator="," close=")">
    ${r'#{item}'}
</foreach>
</delete>
<delete id="deleteByList" parameterType="java.util.List">
delete from ${table.sqlName} where ID in
<foreach collection="list" item="item" open="(" separator="," close=")">
    ${r'#{item.id}'}
</foreach>
</delete>
<update id="updateList" parameterType="java.util.List">
<foreach collection="list" item="item" index="index" open="begin" close="end;" separator="">
    update ${table.sqlName}
    <set>
        <#list table.columns as field>
        <#if field.entityName?uncap_first!="id"&&field.entityName?uncap_first!="modifyAt"
        &&field.entityName?uncap_first!="createBy"&&field.entityName?uncap_first!="createAt"&&
        field.entityName?uncap_first!="modifyBy">
        <if test="item.${field.entityName?uncap_first} != null">
            ${field.sqlName} = ${r'#'}{item.${field.entityName?uncap_first},jdbcType=${field.jdbcType?upper_case}},
        </if>
    </#if>
</#list>
        MODIFY_AT=sysdate
</set>
        where id = ${r'#'}{item.id};
        </foreach>
        </update>
<update id="defaultUpdate" parameterType="${basepackage}.这里要自己改">
    update ${table.sqlName}
    <set>
        <#list table.columns as field>
        <#if field.entityName?uncap_first!="id"&&field.entityName?uncap_first!="modifyAt"
        &&field.entityName?uncap_first!="createBy"&&field.entityName?uncap_first!="createAt"&&
        field.entityName?uncap_first!="modifyBy">
        <if test="${field.entityName?uncap_first} != null">
            ${field.sqlName} = ${r'#'}{${field.entityName?uncap_first},jdbcType=${field.jdbcType?upper_case}},
        </if>
    </#if>
</#list>
        MODIFY_AT=sysdate
</set>
        where id = ${r'#'}{id}
        </update>
        </mapper>