<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.register.dao.IXmanCardMapper">
    <resultMap id="MultiResultMap" type="com.zoe.phip.register.model.XmanCard" extends="BaseResultMap">

    </resultMap>
    <update id="defaultUpdate" parameterType="java.util.List">
        update PHIP_XMAN_CARD
        <set>
                XC_CARD_CODE = #{xcCardCode,jdbcType=VARCHAR},

                XC_CARD_TYPE = #{xcCardType,jdbcType=VARCHAR},
            <if test="xcXmanId != null">
                XC_XMAN_ID = #{xcXmanId,jdbcType=VARCHAR},
            </if>
                XC_ORG_ID = #{xcOrgId,jdbcType=VARCHAR},

                XC_DESCR = #{xcDescr,jdbcType=VARCHAR},
            <if test="xcOrgCode != null">
                XC_ORG_CODE = #{xcOrgCode,jdbcType=VARCHAR},
            </if>
                STATE = #{state,jdbcType=DECIMAL},

            MODIFY_AT=sysdate
        </set>
        WHERE
        <choose>
            <when test="id != null">
                ID = #{id,jdbcType=VARCHAR}
            </when>
            <otherwise>
                HEALTH_RECORD_NO = #{healthRecordNo,jdbcType=VARCHAR}
            </otherwise>
        </choose>
    </update>
    <select id="getXmanCard" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM PHIP_XMAN_CARD T WHERE T.XC_XMAN_ID=#{baseInfoId} AND ROWNUM=1
    </select>
</mapper>