<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.register.dao.IXmanBaseInfoMapper">
    <resultMap id="MultiResultMap" type="com.zoe.phip.register.model.XmanBaseInfo" extends="BaseResultMap">
        <result column="XC_CARD_CODE" property="cardCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getPatient" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM PHIP_XMAN_BASE_INFO T WHERE T.PATIENT_ID=#{id} OR T.HEALTH_RECORD_NO=#{id} AND ROWNUM=1
    </select>
    <select id="getPatientList" resultMap="MultiResultMap" parameterType="java.util.Map">
        SELECT B.*,C.XC_CARD_CODE FROM PHIP_XMAN_BASE_INFO B LEFT JOIN PHIP_XMAN_CARD C ON B.ID=C.XC_XMAN_ID
        <where>
            <if test="_parameter.containsKey('key') and _parameter.containsKey('key')!=''">
                (UPPER(B.NAME) LIKE #{key,jdbcType=VARCHAR} OR UPPER(B.HEALTH_RECORD_NO) LIKE
                #{key,jdbcType=VARCHAR} OR UPPER(C.XC_CARD_CODE) LIKE #{key,jdbcType=VARCHAR})
            </if>
            <include refid="com.zoe.phip.module.service.selfWhere"/>
        </where>
    </select>
</mapper>