<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.register.dao.IMedicalStaffInfoMapper">
    <resultMap id="MultiResultMap" type="com.zoe.phip.register.model.MedicalStaffInfo" extends="BaseResultMap">
        <result column="GENDER_NAME" property="genderName" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>
    <update id="defaultUpdate" parameterType="com.zoe.phip.register.model.MedicalStaffInfo">
        update PHIP_MEDICAL_STAFF_INFO
        <set>
            <if test="extensionId != null">
                EXTENSION_ID = #{extensionId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="genderCode != null">
                GENDER_CODE = #{genderCode,jdbcType=VARCHAR},
            </if>
            <if test="birthTime != null">
                BIRTH_TIME = #{birthTime,jdbcType=TIMESTAMP},
            </if>
            <if test="birthplaceAddr != null">
                BIRTHPLACE_ADDR = #{birthplaceAddr,jdbcType=VARCHAR},
            </if>
            <if test="idNo != null">
                ID_NO = #{idNo,jdbcType=VARCHAR},
            </if>
            <if test="technicalCode != null">
                TECHNICAL_CODE = #{technicalCode,jdbcType=VARCHAR},
            </if>
            <if test="technicalName != null">
                TECHNICAL_NAME = #{technicalName,jdbcType=VARCHAR},
            </if>
            <if test="employerAddr != null">
                EMPLOYER_ADDR = #{employerAddr,jdbcType=VARCHAR},
            </if>
            <if test="employerTelNo != null">
                EMPLOYER_TEL_NO = #{employerTelNo,jdbcType=VARCHAR},
            </if>
            <if test="effectiveTimeLow != null">
                EFFECTIVE_TIME_LOW = #{effectiveTimeLow,jdbcType=TIMESTAMP},
            </if>
            <if test="effectiveTimeHigh != null">
                EFFECTIVE_TIME_HIGH = #{effectiveTimeHigh,jdbcType=TIMESTAMP},
            </if>
            <if test="affiliatedOrgCode != null">
                AFFILIATED_ORG_CODE = #{affiliatedOrgCode,jdbcType=VARCHAR},
            </if>
            <if test="affiliatedOrgName != null">
                AFFILIATED_ORG_NAME = #{affiliatedOrgName,jdbcType=VARCHAR},
            </if>
            <if test="msgId != null">
                MSG_ID = #{msgId,jdbcType=VARCHAR},
            </if>
            <if test="assignedCode != null">
                ASSIGNED_CODE = #{assignedCode,jdbcType=VARCHAR},
            </if>
            <if test="assignedName != null">
                ASSIGNED_NAME = #{assignedName,jdbcType=VARCHAR},
            </if>
            <if test="assignedDeptCode != null">
                ASSIGNED_DEPT_CODE = #{assignedDeptCode,jdbcType=VARCHAR},
            </if>
            <if test="assignedDeptName != null">
                ASSIGNED_DEPT_NAME = #{assignedDeptName,jdbcType=VARCHAR},
            </if>
            <if test="assignedContactPerson != null">
                ASSIGNED_CONTACT_PERSON = #{assignedContactPerson,jdbcType=VARCHAR},
            </if>
            <if test="statusCode != null">
                STATUS_CODE = #{statusCode,jdbcType=VARCHAR},
            </if>
            <if test="creationTime != null">
                CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                STATE = #{state,jdbcType=DECIMAL},
            </if>
            MODIFY_AT=sysdate
        </set>
        where id = #{id}
    </update>
    <delete id="providerDelete" parameterType="com.zoe.phip.register.model.MedicalStaffInfo">
        delete from PHIP_MEDICAL_STAFF_INFO where ID in
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>

    </delete>
    <select id="getStaff" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT * FROM PHIP_MEDICAL_STAFF_INFO PMSI
        WHERE 1 = 1
        <if test="_parameter.containsKey('extensionId')">
            AND PMSI.EXTENSION_ID = #{extensionId,jdbcType=VARCHAR}
        </if>
        <if test="_parameter.containsKey('staffName')">
            AND PMSI.NAME = #{staffName,jdbcType=VARCHAR}
        </if>
        <if test="_parameter.containsKey('genderCode')">
            AND PMSI.GENDER_CODE = #{genderCode,jdbcType=VARCHAR}
        </if>
        <if test="_parameter.containsKey('birthDate')">
            AND to_char(PMSI.BIRTH_TIME,'yyyyMMdd') = #{birthDate,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="getProvider" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM PHIP_MEDICAL_STAFF_INFO M WHERE M.ID=#{id} OR M.EXTENSION_ID=#{id} AND ROWNUM=1
    </select>

    <select id="getProviderList" resultMap="MultiResultMap" parameterType="java.util.Map">
        SELECT M.*,S.NAME AS GENDER_NAME FROM PHIP_MEDICAL_STAFF_INFO M
        LEFT JOIN (
        <include refid="oidSelect">
            <property name="oidValue" value="2.16.156.10011.2.3.3.4"/>
        </include>
        ) S ON M.GENDER_CODE=S.CODE --性别
        <where>
            <if test="_parameter.containsKey('key') and _parameter.containsKey('key')!=''">
                (UPPER(M.NAME) LIKE #{key,jdbcType=VARCHAR} OR UPPER(M.ID_NO) LIKE
                #{key,jdbcType=VARCHAR})
            </if>
            AND M.AFFILIATED_ORG_CODE IN (
            SELECT DEPT_CODE
            FROM PHIP_ORG_DEPT_INFO
            <if test="deptCode !=null and deptCode !=''">
                START WITH DEPT_CODE=#{deptCode,jdbcType=VARCHAR}
            </if>
            CONNECT BY PRIOR DEPT_CODE = DEPT_PARENT_CODE)
            <include refid="com.zoe.phip.module.service.selfWhere"/>
        </where>
    </select>
    <!--
    SELECT * FROM PHIP_MEDICAL_STAFF_INFO M
    LEFT JOIN (SELECT PDI.CODE, PDI.NAME FROM PHIP_NATIONAL_STANDARDS PNS JOIN PHIP_DICT_CATALOG PDC ON PNS.DICT_CODE = PDC.CODE JOIN PHIP_DICT_ITEM PDI ON PDC.ID = PDI.FK_CATALOG_ID WHERE PNS.CODE_SYSTEM = '2.16.156.10011.2.3.3.4') S ON M.GENDER_CODE = S.CODE
    -->
    <select id="getAllProviderList" resultMap="MultiResultMap" parameterType="java.util.Map">
        SELECT M.*,S.NAME AS GENDER_NAME FROM PHIP_MEDICAL_STAFF_INFO M
        LEFT JOIN (
        <include refid="oidSelect">
            <property name="oidValue" value="2.16.156.10011.2.3.3.4"/>
        </include>
        ) S ON M.GENDER_CODE=S.CODE --性别
        <where>
            <if test="_parameter.containsKey('key') and _parameter.containsKey('key')!=''">
                (UPPER(M.NAME) LIKE #{key,jdbcType=VARCHAR} OR UPPER(M.ID_NO) LIKE
                #{key,jdbcType=VARCHAR})
            </if>

            <include refid="com.zoe.phip.module.service.selfWhere"/>
        </where>

    </select>

    <sql id="oidSelect">
        SELECT PDI.CODE,PDI.NAME FROM PHIP_NATIONAL_STANDARDS PNS
        JOIN PHIP_DICT_CATALOG PDC  ON PNS.DICT_CODE= PDC.CODE
        JOIN PHIP_DICT_ITEM PDI  ON PDC.ID =PDI.FK_CATALOG_ID
        WHERE PNS.CODE_SYSTEM = '${oidValue}'
    </sql>
</mapper>