<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.register.dao.INationalStandardsMapper">
    <resultMap id="MultiResultMap" type="com.zoe.phip.register.model.NationalStandards" extends="BaseResultMap">

    </resultMap>
    <update id="defaultUpdate" parameterType="com.zoe.phip.register.model.NationalStandards">
        update PHIP_NATIONAL_STANDARDS
        <set>
            <if test="code != null">
                CODE = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="codeSystem != null">
                CODE_SYSTEM = #{codeSystem,jdbcType=VARCHAR},
            </if>
            <if test="standardCode != null">
                STANDARD_CODE = #{standardCode,jdbcType=VARCHAR},
            </if>
            <if test="descr != null">
                DESCR = #{descr,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                STATE = #{state,jdbcType=DECIMAL},
            </if>
            MODIFY_AT=sysdate
        </set>
        where id = #{id}
    </update>
    <select id="getDataListByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT * from PHIP_NATIONAL_STANDARDS PNS WHERE
        1=1
        <if test="_parameter.containsKey('key')">
            AND CONCAT(upper(PNS.CODE_SYSTEM), upper(CONCAT(PNS.CODE, PNS.NAME))) like #{key,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="getNationalStandard" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) from PHIP_NATIONAL_STANDARDS PNS
        WHERE upper(PNS.CODE) = UPPER (#{code,jdbcType=VARCHAR})
        <if test="_parameter.containsKey('id')">
            AND PNS.id != #{id,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>