<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.register.dao.IDictCatalogMapper">
    <resultMap id="MultiResultMap" type="com.zoe.phip.register.model.DictCatalog" extends="BaseResultMap">
        <result column="PARENT_NAME" property="parentName" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>
    <update id="defaultUpdate" parameterType="com.zoe.phip.register.model.DictCatalog">
        update PHIP_DICT_CATALOG
        <set>
            <if test="code != null">
                CODE = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentCode != null">
                PARENT_CODE = #{parentCode,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                TYPE = #{type,jdbcType=DECIMAL},
            </if>
            <if test="state != null">
                STATE = #{state,jdbcType=DECIMAL},
            </if>
            MODIFY_AT=sysdate
        </set>
        where id = #{id}
    </update>

    <select id="getDictCatalogList" resultMap="MultiResultMap" parameterType="java.util.Map">
        SELECT pdc.*,ppdc.NAME PARENT_NAME FROM PHIP_DICT_CATALOG pdc
        <where>
            <if test="pid !=null and pid !=''">
                AND pdc.PID = #{pid,jdbcType=VARCHAR}
            </if>
            <if test="key !=null and key !=''">
                AND (UPPER(pdc.NAME) LIKE #{key,jdbcType=VARCHAR} OR UPPER(pdc.CODE) LIKE #{key,jdbcType=VARCHAR})
            </if>
            <include refid="com.zoe.phip.module.service.selfWhere"/>
        </where>
        LEFT JOIN PHIP_DICT_CATALOG ppdc
        ON pdc.PID = ppdc.ID
    </select>
</mapper>