<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.register.dao.IOrgDeptInfoMapper">
<resultMap id="MultiResultMap" type="com.zoe.phip.register.model.OrgDeptInfo" extends="BaseResultMap">
    <result column="dept_type_name" property="deptTypeName" javaType="java.lang.String" jdbcType="VARCHAR"/>
    <result column="PROVINCE_CODE_NAME" property="provinceCodeName" javaType="java.lang.String" jdbcType="VARCHAR"/>
    <result column="CITY_CODE_NAME" property="cityCodeName" javaType="java.lang.String" jdbcType="VARCHAR"/>
    <result column="COUNTY_CODE_NAME" property="countyCodeName" javaType="java.lang.String" jdbcType="VARCHAR"/>
    <result column="STREET_CODE_NAME" property="streetCodeName" javaType="java.lang.String" jdbcType="VARCHAR"/>
    <result column="NEIGHBORHOOD_CODE_NAME" property="neighborhoodCodeName" javaType="java.lang.String" jdbcType="VARCHAR"/>
</resultMap>
<update id="defaultUpdate" parameterType="com.zoe.phip.register.model.OrgDeptInfo">
    update PHIP_ORG_DEPT_INFO
    <set>
        <if test="divisionRoot != null">
            DIVISION_ROOT = #{divisionRoot,jdbcType=VARCHAR},
        </if>
        <if test="deptCode != null">
            DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
        </if>
        <if test="deptName != null">
            DEPT_NAME = #{deptName,jdbcType=VARCHAR},
        </if>

            DEPT_TYPE_CODE = #{deptTypeCode,jdbcType=VARCHAR},

            DEPT_ROLE_NAME = #{deptRoleName,jdbcType=VARCHAR},
            DEPT_PARENT_CODE = #{deptParentCode,jdbcType=VARCHAR},
            ROLE_NAME = #{roleName,jdbcType=VARCHAR},
            ROLE_STATE = #{roleState,jdbcType=VARCHAR},
            EFFECTIVE_TIME_LOW = #{effectiveTimeLow,jdbcType=DATE},
            EFFECTIVE_TIME_HIGH = #{effectiveTimeHigh,jdbcType=DATE},
            EMPLOYER_ADDR = #{employerAddr,jdbcType=VARCHAR},
            EMPLOYER_TEL_NO = #{employerTelNo,jdbcType=VARCHAR},
            MSG_ID = #{msgId,jdbcType=VARCHAR},
            ASSIGNED_CODE = #{assignedCode,jdbcType=VARCHAR},
            ASSIGNED_NAME = #{assignedName,jdbcType=VARCHAR},
            ASSIGNED_DEPT_CODE = #{assignedDeptCode,jdbcType=VARCHAR},
            ASSIGNED_CONTACT_PERSON = #{assignedContactPerson,jdbcType=VARCHAR},
            CREATION_TIME = #{creationTime,jdbcType=DATE},
            SORT_NUM = #{sortNum,jdbcType=DECIMAL},
            CHARGE_INFO_PERSON = #{chargeInfoPerson,jdbcType=VARCHAR},
            CHARGE_INFO_TEL = #{chargeInfoTel,jdbcType=VARCHAR},
            COMPLAINTS_HOTLINE = #{complaintsHotline,jdbcType=VARCHAR},
            LEGAL_REPRESENTATIVE = #{legalRepresentative,jdbcType=VARCHAR},
            WEB_URL = #{webUrl,jdbcType=VARCHAR},
            EMAIL = #{email,jdbcType=VARCHAR},
            POSTCODE = #{postcode,jdbcType=VARCHAR},
            G_LONGITUDE = #{glongitude,jdbcType=DECIMAL},
            G_LATITUDE = #{glatitude,jdbcType=DECIMAL},
            PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
            CITY_CODE = #{cityCode,jdbcType=VARCHAR},
            COUNTY_CODE = #{countyCode,jdbcType=VARCHAR},
            STREET_CODE = #{streetCode,jdbcType=VARCHAR},
            NEIGHBORHOOD_CODE = #{neighborhoodCode,jdbcType=VARCHAR},
            STATE = #{state,jdbcType=DECIMAL},
        MODIFY_AT=sysdate
</set>
   where
    <choose>
    <when test="id != null">
        ID = #{id,jdbcType=VARCHAR}
    </when>
    <otherwise>
        DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
    </otherwise>
    </choose>

</update>






    <select id="getOrgDeptInfo" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT  * FROM PHIP_ORG_DEPT_INFO PODI
        WHERE  1=1
        <if test="_parameter.containsKey('deptCode')">
            AND PODI.DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
        </if>
        <if test="_parameter.containsKey('deptName')">
            AND PODI.DEPT_NAME = #{deptName,jdbcType=VARCHAR}
        </if>
    </select>


    <select id="getOrgDeptInfoList" resultMap="BaseResultMap" parameterType="java.util.Map">
        select * from PHIP_ORG_DEPT_INFO PODI
        <where>
            <if test="key !=null and key !=''">AND (  UPPER(DEPT_CODE) LIKE
                #{key,jdbcType=VARCHAR} OR UPPER(DEPT_NAME) LIKE #{key,jdbcType=VARCHAR})</if>
            <if test="deptTypeCode !=null and deptTypeCode !=''">
                AND PODI.DEPT_TYPE_CODE = #{deptTypeCode,jdbcType=VARCHAR}
            </if>
            <if test="deptParentCode !=null and deptParentCode !=''">
                AND PODI.DEPT_PARENT_CODE = #{deptParentCode,jdbcType=VARCHAR}
            </if>
            <if test="divisionRoot !=null and divisionRoot !=''">
                AND PODI.DIVISION_ROOT = #{divisionRoot,jdbcType=VARCHAR}
            </if>
            <include refid="com.zoe.phip.module.service.selfWhere"/>
        </where>
    </select>


    <select id="getDepartmentByPrimaryKey" parameterType="java.lang.String" resultMap="MultiResultMap">
        <include refid="departmentSelect"/>
        WHERE PODI.ID=#{id,jdbcType=VARCHAR}
    </select>
    <sql id="departmentSelect">
        SELECT PODI.*,p.NAME AS dept_type_name,a.name as PROVINCE_CODE_NAME ,b.name as CITY_CODE_NAME,c.name as COUNTY_CODE_NAME,
        d.name as STREET_CODE_NAME,e.name as NEIGHBORHOOD_CODE_NAME
        FROM PHIP_ORG_DEPT_INFO PODI
        LEFT JOIN (
        <include refid="oidSelect">
            <property name="oidValue" value="2.16.156.10011.2.3.2.62"/>
        </include>
        ) p ON PODI.dept_type_code=p.CODE --科室分类
        left join phip_area_base_info a on PODI.PROVINCE_CODE=a.code
        left join phip_area_base_info b on PODI.CITY_CODE=b.code
        left join phip_area_base_info c on PODI.COUNTY_CODE=c.code
        left join phip_area_base_info d on PODI.STREET_CODE=d.code
        left join phip_area_base_info e on PODI.NEIGHBORHOOD_CODE=e.code
    </sql>


    <select id="getOrgDeptByPrimaryKey" parameterType="java.lang.String" resultMap="MultiResultMap">
        <include refid="orgDeptSelect"/>
        WHERE PODI.ID=#{id,jdbcType=VARCHAR}
    </select>
    <sql id="orgDeptSelect">
        SELECT PODI.*,p.NAME AS dept_type_name,a.name as PROVINCE_CODE_NAME ,b.name as CITY_CODE_NAME,c.name as COUNTY_CODE_NAME,
        d.name as STREET_CODE_NAME,e.name as NEIGHBORHOOD_CODE_NAME
        FROM PHIP_ORG_DEPT_INFO PODI
        LEFT JOIN (
        <include refid="oidSelect">
            <property name="oidValue" value="2.16.156.10011.2.3.4.1"/>
        </include>
        ) p ON PODI.dept_type_code=p.CODE --机构分类
        left join phip_area_base_info a on PODI.PROVINCE_CODE=a.code
        left join phip_area_base_info b on PODI.CITY_CODE=b.code
        left join phip_area_base_info c on PODI.COUNTY_CODE=c.code
        left join phip_area_base_info d on PODI.STREET_CODE=d.code
        left join phip_area_base_info e on PODI.NEIGHBORHOOD_CODE=e.code
    </sql>
    <sql id="oidSelect">
        SELECT PDI.CODE,PDI.NAME FROM PHIP_NATIONAL_STANDARDS PNS
        JOIN PHIP_DICT_CATALOG PDC  ON PNS.DICT_CODE= PDC.CODE
        JOIN PHIP_DICT_ITEM PDI  ON PDC.ID =PDI.FK_CATALOG_ID
        WHERE PNS.CODE_SYSTEM = '${oidValue}'
    </sql>
</mapper>