<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.web.dao.sdm.IStandardVerRsFieldMapper">
    <resultMap id="BaseResultMap" type="com.zoe.phip.web.model.sdm.StandardVerRsField"
               extends="com.zoe.phip.module.service.MasterEntityResultMap">
        <result column="FK_VERSION_ID" property="fkVersionId" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="FK_CDA_ID" property="fkCdaId" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="FK_SET_ID" property="fkSetId" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="FK_FIELD_ID" property="fkFieldId" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="addList" parameterType="com.zoe.phip.web.model.sdm.StandardVerRsField">
        INSERT INTO PHIP_STANDARD_VER_RS_FIELD (
        FK_VERSION_ID,
        FK_CDA_ID,
        FK_SET_ID,
        FK_FIELD_ID,
        <include refid="com.zoe.phip.module.service.baseMasterEntityInsert"/>)
        <foreach collection="list" item="item" index="index" close="" open="" separator="union all">
            SELECT
            #{item.fkVersionId,jdbcType=VARCHAR},
            #{item.fkCdaId,jdbcType=VARCHAR},
            #{item.fkSetId,jdbcType=VARCHAR},
            #{item.fkFieldId,jdbcType=VARCHAR},
            <include refid="com.zoe.phip.module.service.baseMasterEntitySelect"/>
            FROM DUAL
        </foreach>
    </insert>
    <insert id="defaultAdd" parameterType="java.util.List">
        INSERT INTO PHIP_STANDARD_VER_RS_FIELD (
        FK_VERSION_ID,
        FK_CDA_ID,
        FK_SET_ID,
        FK_FIELD_ID,
        <include refid="com.zoe.phip.module.service.baseMasterEntityInsert"/>)
        VALUES(
        #{fkVersionId,jdbcType=VARCHAR},
        #{fkCdaId,jdbcType=VARCHAR},
        #{fkSetId,jdbcType=VARCHAR},
        #{fkFieldId,jdbcType=VARCHAR},
        <include refid="com.zoe.phip.module.service.baseMasterEntitySelectDefault"/>
        )
    </insert>
    <delete id="deleteByIds" parameterType="java.lang.String">
        delete from PHIP_STANDARD_VER_RS_FIELD where ID in
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <delete id="deleteByList" parameterType="java.util.List">
        delete from PHIP_STANDARD_VER_RS_FIELD where ID in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>
    <update id="updateList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close="end;" separator="">
            update PHIP_STANDARD_VER_RS_FIELD
            <set>
                <if test="item.fkVersionId != null">
                    FK_VERSION_ID = #{item.fkVersionId,jdbcType=VARCHAR},
                </if>
                <if test="item.fkCdaId != null">
                    FK_CDA_ID = #{item.fkCdaId,jdbcType=VARCHAR},
                </if>
                <if test="item.fkSetId != null">
                    FK_SET_ID = #{item.fkSetId,jdbcType=VARCHAR},
                </if>
                <if test="item.fkFieldId != null">
                    FK_FIELD_ID = #{item.fkFieldId,jdbcType=VARCHAR},
                </if>
                MODIFY_AT=sysdate
            </set>
            where id = #{item.id};
        </foreach>
    </update>

</mapper>