<#assign className = table.className>
        <?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${basepackage}.dao.mapper.${className}Mapper">
<resultMap id="BaseResultMap" type="${basepackage}.model.${className}">
    <#list table.columns as field>
    <#if field == table.columns?first>
    <id column="${field.sqlName}" property="${field.entityName?uncap_first}" javaType="${field.javaType}"
        jdbcType="${field.jdbcType?upper_case}"/>
    <#else>
    <result column="${field.sqlName}" property="${field.entityName?uncap_first}" javaType="${field.javaType}"
            jdbcType="${field.jdbcType?upper_case}"/>
</#if>
</#list>
        </resultMap>
<insert id="addList" parameterType="java.util.List">
INSERT INTO ${table.sqlName} (<#list table.columns as field>${field.sqlName}<#if field_index<table.columns?size-1>,
</#if></#list>)
<foreach collection="list" item="item" index="index" close="" open="" separator="union all">
SELECT
<#list table.columns as field>
${r'#'}{item.${field.entityName?uncap_first},jdbcType=${field.jdbcType?upper_case}}<#if field_index<table.columns
?size-1>,
</#if>
        </#list>
        FROM DUAL
        </foreach>
        </insert>
<delete id="deleteByIds" parameterType="java.util.List">
delete from ${table.sqlName} where ID in
<foreach collection="list" item="item" open="(" separator="," close=")">
    ${r'#{item}'}
</foreach>
</delete>
<delete id="deleteByList" parameterType="java.util.List">
delete from ${table.sqlName} where ID in
<foreach collection="list" item="item" open="(" separator="," close=")">
    ${r'#{item.id}'}
</foreach>
</delete>
        </mapper>