<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.web.dao.sdm.IStNormSourceInfoMapper">
    <resultMap id="BaseResultMap" type="com.zoe.phip.web.model.sdm.StNormSourceInfo"
               extends="com.zoe.phip.module.service.MasterEntityResultMap">
        <result column="CODE" property="code" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="NAME" property="name" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="DB_LINK" property="dbLink" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="STANDARD_TYPE" property="standardType" javaType="java.math.BigDecimal"
                jdbcType="DECIMAL"/>
        <result column="START_TIME" property="startTime" javaType="java.sql.Date"
                jdbcType="DATE"/>
        <result column="END_TIME" property="endTime" javaType="java.sql.Date"
                jdbcType="DATE"/>
        <result column="DESCR" property="descr" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="FK_DICT_ID" property="fkDictId" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="addList" parameterType="com.zoe.phip.web.model.sdm.StNormSourceInfo">
        INSERT INTO PHIP_ST_NORM_SOURCE_INFO (
        CODE,
        NAME,
        DB_LINK,
        STANDARD_TYPE,
        START_TIME,
        END_TIME,
        DESCR,
        FK_DICT_ID,
        <include refid="com.zoe.phip.module.service.baseMasterEntityInsert"/>)
        <foreach collection="list" item="item" index="index" close="" open="" separator="union all">
            SELECT
            #{item.code,jdbcType=VARCHAR},
            #{item.name,jdbcType=VARCHAR},
            #{item.dbLink,jdbcType=VARCHAR},
            #{item.standardType,jdbcType=DECIMAL},
            #{item.startTime,jdbcType=DATE},
            #{item.endTime,jdbcType=DATE},
            #{item.descr,jdbcType=VARCHAR},
            #{item.fkDictId,jdbcType=VARCHAR},
            <include refid="com.zoe.phip.module.service.baseMasterEntitySelect"/>
            FROM DUAL
        </foreach>
    </insert>
    <insert id="defaultAdd" parameterType="java.util.List">
        INSERT INTO PHIP_ST_NORM_SOURCE_INFO (
        CODE,
        NAME,
        DB_LINK,
        STANDARD_TYPE,
        START_TIME,
        END_TIME,
        DESCR,
        FK_DICT_ID,
        <include refid="com.zoe.phip.module.service.baseMasterEntityInsert"/>)
        VALUES(
        #{code,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{dbLink,jdbcType=VARCHAR},
        #{standardType,jdbcType=DECIMAL},
        #{startTime,jdbcType=DATE},
        #{endTime,jdbcType=DATE},
        #{descr,jdbcType=VARCHAR},
        #{item.fkDictId,jdbcType=VARCHAR},
        <include refid="com.zoe.phip.module.service.baseMasterEntitySelectDefault"/>
        )
    </insert>
    <delete id="deleteByIds" parameterType="java.lang.String">
        delete from PHIP_ST_NORM_SOURCE_INFO where ID in
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <delete id="deleteByList" parameterType="java.util.List">
        delete from PHIP_ST_NORM_SOURCE_INFO where ID in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>
    <update id="updateList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close="end;" separator="">
            update PHIP_ST_NORM_SOURCE_INFO
            <set>
                <if test="item.code != null">
                    CODE = #{item.code,jdbcType=VARCHAR},
                </if>
                <if test="item.name != null">
                    NAME = #{item.name,jdbcType=VARCHAR},
                </if>
                <if test="item.dbLink != null">
                    DB_LINK = #{item.dbLink,jdbcType=VARCHAR},
                </if>
                <if test="item.standardType != null">
                    STANDARD_TYPE = #{item.standardType,jdbcType=DECIMAL},
                </if>
                <if test="item.startTime != null">
                    START_TIME = #{item.startTime,jdbcType=DATE},
                </if>
                <if test="item.endTime != null">
                    END_TIME = #{item.endTime,jdbcType=DATE},
                </if>
                <if test="item.descr != null">
                    DESCR = #{item.descr,jdbcType=VARCHAR},
                </if>
                <if test="item.fkDictId != null">
                    DESCR = #{item.fkDictId,jdbcType=VARCHAR},
                </if>
                <if test="item.state != null">
                    STATE = #{item.state,jdbcType=DECIMAL},
                </if>
                MODIFY_AT=sysdate
            </set>
            where id = #{item.id};
        </foreach>
    </update>

</mapper>