<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.dao.mapper.IDictCatalogMapper">
    <resultMap id="BaseResultMap" type="com.zoe.phip.register.model.DictCatalog">
        <result column="CODE" property="code" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="PARENT_CODE" property="parentCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="TYPE" property="type" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
    </resultMap>
    <insert id="addList" parameterType="java.util.List">
        INSERT INTO PHIP_DICT_CATALOG (
        CODE,
        NAME,
        PARENT_CODE,
        TYPE,
        <include refid="com.zoe.phip.module.service.baseMasterEntityInsert"/>)
        <foreach collection="list" item="item" index="index" close="" open="" separator="union all">
            SELECT
            #{item.code,jdbcType=VARCHAR},
            #{item.name,jdbcType=VARCHAR},
            #{item.parentCode,jdbcType=VARCHAR},
            #{item.type,jdbcType=DECIMAL},
            <include refid="com.zoe.phip.module.service.baseMasterEntitySelect"/>
            FROM DUAL
        </foreach>
    </insert>
    <delete id="deleteByIds" parameterType="java.lang.String">
        delete from PHIP_DICT_CATALOG where ID in
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <delete id="deleteByList" parameterType="java.util.List">
        delete from PHIP_DICT_CATALOG where ID in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>
    <update id="updateList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close="end;" separator="">
            update PHIP_DICT_CATALOG
            <set>
                <if test="item.code != null">
                    CODE = #{item.code,jdbcType=VARCHAR},
                </if>
                <if test="item.name != null">
                    NAME = #{item.name,jdbcType=VARCHAR},
                </if>
                <if test="item.parentCode != null">
                    PARENT_CODE = #{item.parentCode,jdbcType=VARCHAR},
                </if>
                <if test="item.type != null">
                    TYPE = #{item.type,jdbcType=DECIMAL},
                </if>
                MODIFY_AT=sysdate
            </set>
            where id = #{item.id};
        </foreach>
    </update>
</mapper>