<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.register.dao.IMedicalStaffInfoMapper">
    <resultMap id="BaseResultMap" type="com.zoe.phip.register.model.MedicalStaffInfo"
               extends="com.zoe.phip.module.service.MasterEntityResultMap">
        <result column="EXTENSION_ID" property="extensionId" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="NAME" property="name" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="GENDER_CODE" property="genderCode" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="GENDER_NAME" property="genderName" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="BIRTH_TIME" property="birthTime" javaType="java.sql.Timestamp"
                jdbcType="TIMESTAMP"/>
        <result column="BIRTHPLACE_ADDR" property="birthplaceAddr" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="ID_NO" property="idNo" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="TECHNICAL_CODE" property="technicalCode" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="TECHNICAL_NAME" property="technicalName" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="EMPLOYER_ADDR" property="employerAddr" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="EMPLOYER_TEL_NO" property="employerTelNo" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="EFFECTIVE_TIME_LOW" property="effectiveTimeLow" javaType="java.sql.Timestamp"
                jdbcType="TIMESTAMP"/>
        <result column="EFFECTIVE_TIME_HIGH" property="effectiveTimeHigh" javaType="java.sql.Timestamp"
                jdbcType="TIMESTAMP"/>
        <result column="AFFILIATED_ORG_CODE" property="affiliatedOrgCode" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="AFFILIATED_ORG_NAME" property="affiliatedOrgName" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="MSG_ID" property="msgId" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="ASSIGNED_CODE" property="assignedCode" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="ASSIGNED_NAME" property="assignedName" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="ASSIGNED_DEPT_CODE" property="assignedDeptCode" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="ASSIGNED_DEPT_NAME" property="assignedDeptName" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="ASSIGNED_CONTACT_PERSON" property="assignedContactPerson" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="STATUS_CODE" property="statusCode" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="CREATION_TIME" property="creationTime" javaType="java.sql.Timestamp"
                jdbcType="TIMESTAMP"/>
    </resultMap>
    <insert id="addList" parameterType="com.zoe.phip.register.model.MedicalStaffInfo">
        INSERT INTO PHIP_MEDICAL_STAFF_INFO (
        EXTENSION_ID,
        NAME,
        GENDER_CODE,
        GENDER_NAME,
        BIRTH_TIME,
        BIRTHPLACE_ADDR,
        ID_NO,
        TECHNICAL_CODE,
        TECHNICAL_NAME,
        EMPLOYER_ADDR,
        EMPLOYER_TEL_NO,
        EFFECTIVE_TIME_LOW,
        EFFECTIVE_TIME_HIGH,
        AFFILIATED_ORG_CODE,
        AFFILIATED_ORG_NAME,
        MSG_ID,
        ASSIGNED_CODE,
        ASSIGNED_NAME,
        ASSIGNED_DEPT_CODE,
        ASSIGNED_DEPT_NAME,
        ASSIGNED_CONTACT_PERSON,
        STATUS_CODE,
        CREATION_TIME,
        <include refid="com.zoe.phip.module.service.baseMasterEntityInsert"/>)
        <foreach collection="list" item="item" index="index" close="" open="" separator="union all">
            SELECT
            #{item.extensionId,jdbcType=VARCHAR},
            #{item.name,jdbcType=VARCHAR},
            #{item.genderCode,jdbcType=VARCHAR},
            #{item.genderName,jdbcType=VARCHAR},
            #{item.birthTime,jdbcType=TIMESTAMP},
            #{item.birthplaceAddr,jdbcType=VARCHAR},
            #{item.idNo,jdbcType=VARCHAR},
            #{item.technicalCode,jdbcType=VARCHAR},
            #{item.technicalName,jdbcType=VARCHAR},
            #{item.employerAddr,jdbcType=VARCHAR},
            #{item.employerTelNo,jdbcType=VARCHAR},
            #{item.effectiveTimeLow,jdbcType=TIMESTAMP},
            #{item.effectiveTimeHigh,jdbcType=TIMESTAMP},
            #{item.affiliatedOrgCode,jdbcType=VARCHAR},
            #{item.affiliatedOrgName,jdbcType=VARCHAR},
            #{item.msgId,jdbcType=VARCHAR},
            #{item.assignedCode,jdbcType=VARCHAR},
            #{item.assignedName,jdbcType=VARCHAR},
            #{item.assignedDeptCode,jdbcType=VARCHAR},
            #{item.assignedDeptName,jdbcType=VARCHAR},
            #{item.assignedContactPerson,jdbcType=VARCHAR},
            #{item.statusCode,jdbcType=VARCHAR},
            #{item.creationTime,jdbcType=TIMESTAMP},
            <include refid="com.zoe.phip.module.service.baseMasterEntitySelect"/>
            FROM DUAL
        </foreach>
    </insert>
    <insert id="defaultAdd" parameterType="java.util.List">
        INSERT INTO PHIP_MEDICAL_STAFF_INFO (
        EXTENSION_ID,
        NAME,
        GENDER_CODE,
        GENDER_NAME,
        BIRTH_TIME,
        BIRTHPLACE_ADDR,
        ID_NO,
        TECHNICAL_CODE,
        TECHNICAL_NAME,
        EMPLOYER_ADDR,
        EMPLOYER_TEL_NO,
        EFFECTIVE_TIME_LOW,
        EFFECTIVE_TIME_HIGH,
        AFFILIATED_ORG_CODE,
        AFFILIATED_ORG_NAME,
        MSG_ID,
        ASSIGNED_CODE,
        ASSIGNED_NAME,
        ASSIGNED_DEPT_CODE,
        ASSIGNED_DEPT_NAME,
        ASSIGNED_CONTACT_PERSON,
        STATUS_CODE,
        CREATION_TIME,
        <include refid="com.zoe.phip.module.service.baseMasterEntityInsert"/>)
        VALUES(
        #{extensionId,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{genderCode,jdbcType=VARCHAR},
        #{genderName,jdbcType=VARCHAR},
        #{birthTime,jdbcType=TIMESTAMP},
        #{birthplaceAddr,jdbcType=VARCHAR},
        #{idNo,jdbcType=VARCHAR},
        #{technicalCode,jdbcType=VARCHAR},
        #{technicalName,jdbcType=VARCHAR},
        #{employerAddr,jdbcType=VARCHAR},
        #{employerTelNo,jdbcType=VARCHAR},
        #{effectiveTimeLow,jdbcType=TIMESTAMP},
        #{effectiveTimeHigh,jdbcType=TIMESTAMP},
        #{affiliatedOrgCode,jdbcType=VARCHAR},
        #{affiliatedOrgName,jdbcType=VARCHAR},
        #{msgId,jdbcType=VARCHAR},
        #{assignedCode,jdbcType=VARCHAR},
        #{assignedName,jdbcType=VARCHAR},
        #{assignedDeptCode,jdbcType=VARCHAR},
        #{assignedDeptName,jdbcType=VARCHAR},
        #{assignedContactPerson,jdbcType=VARCHAR},
        #{statusCode,jdbcType=VARCHAR},
        #{creationTime,jdbcType=TIMESTAMP},
        <include refid="com.zoe.phip.module.service.baseMasterEntitySelectDefault"/>
        )
    </insert>
    <delete id="deleteByIds" parameterType="java.lang.String">
        delete from PHIP_MEDICAL_STAFF_INFO where ID in
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <delete id="deleteByList" parameterType="java.util.List">
        delete from PHIP_MEDICAL_STAFF_INFO where ID in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>
    <update id="updateList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close="end;" separator="">
            update PHIP_MEDICAL_STAFF_INFO
            <set>
                <if test="item.extensionId != null">
                    EXTENSION_ID = #{item.extensionId,jdbcType=VARCHAR},
                </if>
                <if test="item.name != null">
                    NAME = #{item.name,jdbcType=VARCHAR},
                </if>
                <if test="item.genderCode != null">
                    GENDER_CODE = #{item.genderCode,jdbcType=VARCHAR},
                </if>
                <if test="item.genderName != null">
                    GENDER_NAME = #{item.genderName,jdbcType=VARCHAR},
                </if>
                <if test="item.birthTime != null">
                    BIRTH_TIME = #{item.birthTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.birthplaceAddr != null">
                    BIRTHPLACE_ADDR = #{item.birthplaceAddr,jdbcType=VARCHAR},
                </if>
                <if test="item.idNo != null">
                    ID_NO = #{item.idNo,jdbcType=VARCHAR},
                </if>
                <if test="item.technicalCode != null">
                    TECHNICAL_CODE = #{item.technicalCode,jdbcType=VARCHAR},
                </if>
                <if test="item.technicalName != null">
                    TECHNICAL_NAME = #{item.technicalName,jdbcType=VARCHAR},
                </if>
                <if test="item.employerAddr != null">
                    EMPLOYER_ADDR = #{item.employerAddr,jdbcType=VARCHAR},
                </if>
                <if test="item.employerTelNo != null">
                    EMPLOYER_TEL_NO = #{item.employerTelNo,jdbcType=VARCHAR},
                </if>
                <if test="item.effectiveTimeLow != null">
                    EFFECTIVE_TIME_LOW = #{item.effectiveTimeLow,jdbcType=TIMESTAMP},
                </if>
                <if test="item.effectiveTimeHigh != null">
                    EFFECTIVE_TIME_HIGH = #{item.effectiveTimeHigh,jdbcType=TIMESTAMP},
                </if>
                <if test="item.affiliatedOrgCode != null">
                    AFFILIATED_ORG_CODE = #{item.affiliatedOrgCode,jdbcType=VARCHAR},
                </if>
                <if test="item.affiliatedOrgName != null">
                    AFFILIATED_ORG_NAME = #{item.affiliatedOrgName,jdbcType=VARCHAR},
                </if>
                <if test="item.msgId != null">
                    MSG_ID = #{item.msgId,jdbcType=VARCHAR},
                </if>
                <if test="item.assignedCode != null">
                    ASSIGNED_CODE = #{item.assignedCode,jdbcType=VARCHAR},
                </if>
                <if test="item.assignedName != null">
                    ASSIGNED_NAME = #{item.assignedName,jdbcType=VARCHAR},
                </if>
                <if test="item.assignedDeptCode != null">
                    ASSIGNED_DEPT_CODE = #{item.assignedDeptCode,jdbcType=VARCHAR},
                </if>
                <if test="item.assignedDeptName != null">
                    ASSIGNED_DEPT_NAME = #{item.assignedDeptName,jdbcType=VARCHAR},
                </if>
                <if test="item.assignedContactPerson != null">
                    ASSIGNED_CONTACT_PERSON = #{item.assignedContactPerson,jdbcType=VARCHAR},
                </if>
                <if test="item.statusCode != null">
                    STATUS_CODE = #{item.statusCode,jdbcType=VARCHAR},
                </if>
                <if test="item.creationTime != null">
                    CREATION_TIME = #{item.creationTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.state != null">
                    STATE = #{item.state,jdbcType=DECIMAL},
                </if>
                MODIFY_AT=sysdate
            </set>
            where id = #{item.id};
        </foreach>
    </update>
</mapper>