<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.dao.mapper.IOrgDeptInfoMapper">
    <resultMap id="BaseResultMap" type="com.zoe.phip.register.model.OrgDeptInfo">
        <result column="DEPT_CODE" property="deptCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="DEPT_NAME" property="deptName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="DEPT_TYPE_CODE" property="deptTypeCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="DEPT_TYPE_NAME" property="deptTypeName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="DEPT_ROLE_NAME" property="deptRoleName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="DEPT_PARENT_CODE" property="deptParentCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="DEPT_PARENT_NAME" property="deptParentName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="EFFECTIVE_TIME_LOW" property="effectiveTimeLow" javaType="java.sql.Timestamp"
                jdbcType="TIMESTAMP"/>
        <result column="EFFECTIVE_TIME_HIGH" property="effectiveTimeHigh" javaType="java.sql.Timestamp"
                jdbcType="TIMESTAMP"/>
        <result column="EMPLOYER_ADDR" property="employerAddr" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="EMPLOYER_TEL_NO" property="employerTelNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="CREATION_TIME" property="creationTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP"/>
        <result column="MSG_ID" property="msgId" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="ASSIGNED_CODE" property="assignedCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="ASSIGNED_NAME" property="assignedName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="ASSIGNED_DEPT_CODE" property="assignedDeptCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="ASSIGNED_DEPT_NAME" property="assignedDeptName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="ASSIGNED_ONTACT_PERSON" property="assignedOntactPerson" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="ORG_CODE" property="orgCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="SORT_NUM" property="sortNum" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
    </resultMap>
    <insert id="addList" parameterType="java.util.List">
        INSERT INTO PHIP_ORG_DEPT_INFO (
        DEPT_CODE,
        DEPT_NAME,
        DEPT_TYPE_CODE,
        DEPT_TYPE_NAME,
        DEPT_ROLE_NAME,
        DEPT_PARENT_CODE,
        DEPT_PARENT_NAME,
        EFFECTIVE_TIME_LOW,
        EFFECTIVE_TIME_HIGH,
        EMPLOYER_ADDR,
        EMPLOYER_TEL_NO,
        CREATION_TIME,
        MSG_ID,
        ASSIGNED_CODE,
        ASSIGNED_NAME,
        ASSIGNED_DEPT_CODE,
        ASSIGNED_DEPT_NAME,
        ASSIGNED_ONTACT_PERSON,
        ORG_CODE,
        SORT_NUM,
        <include refid="com.zoe.phip.module.service.baseMasterEntityInsert"/>)
        <foreach collection="list" item="item" index="index" close="" open="" separator="union all">
            SELECT
            #{item.deptCode,jdbcType=VARCHAR},
            #{item.deptName,jdbcType=VARCHAR},
            #{item.deptTypeCode,jdbcType=VARCHAR},
            #{item.deptTypeName,jdbcType=VARCHAR},
            #{item.deptRoleName,jdbcType=VARCHAR},
            #{item.deptParentCode,jdbcType=VARCHAR},
            #{item.deptParentName,jdbcType=VARCHAR},
            #{item.effectiveTimeLow,jdbcType=TIMESTAMP},
            #{item.effectiveTimeHigh,jdbcType=TIMESTAMP},
            #{item.employerAddr,jdbcType=VARCHAR},
            #{item.employerTelNo,jdbcType=VARCHAR},
            #{item.creationTime,jdbcType=TIMESTAMP},
            #{item.msgId,jdbcType=VARCHAR},
            #{item.assignedCode,jdbcType=VARCHAR},
            #{item.assignedName,jdbcType=VARCHAR},
            #{item.assignedDeptCode,jdbcType=VARCHAR},
            #{item.assignedDeptName,jdbcType=VARCHAR},
            #{item.assignedOntactPerson,jdbcType=VARCHAR},
            #{item.orgCode,jdbcType=VARCHAR},
            #{item.sortNum,jdbcType=DECIMAL},
            <include refid="com.zoe.phip.module.service.baseMasterEntitySelect"/>
            FROM DUAL
        </foreach>
    </insert>
    <delete id="deleteByIds" parameterType="java.lang.String">
        delete from PHIP_ORG_DEPT_INFO where ID in
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <delete id="deleteByList" parameterType="java.util.List">
        delete from PHIP_ORG_DEPT_INFO where ID in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>
    <update id="updateList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close="end;" separator="">
            update PHIP_ORG_DEPT_INFO
            <set>
                <if test="item.deptCode != null">
                    DEPT_CODE = #{item.deptCode,jdbcType=VARCHAR},
                </if>
                <if test="item.deptName != null">
                    DEPT_NAME = #{item.deptName,jdbcType=VARCHAR},
                </if>
                <if test="item.deptTypeCode != null">
                    DEPT_TYPE_CODE = #{item.deptTypeCode,jdbcType=VARCHAR},
                </if>
                <if test="item.deptTypeName != null">
                    DEPT_TYPE_NAME = #{item.deptTypeName,jdbcType=VARCHAR},
                </if>
                <if test="item.deptRoleName != null">
                    DEPT_ROLE_NAME = #{item.deptRoleName,jdbcType=VARCHAR},
                </if>
                <if test="item.deptParentCode != null">
                    DEPT_PARENT_CODE = #{item.deptParentCode,jdbcType=VARCHAR},
                </if>
                <if test="item.deptParentName != null">
                    DEPT_PARENT_NAME = #{item.deptParentName,jdbcType=VARCHAR},
                </if>
                <if test="item.effectiveTimeLow != null">
                    EFFECTIVE_TIME_LOW = #{item.effectiveTimeLow,jdbcType=TIMESTAMP},
                </if>
                <if test="item.effectiveTimeHigh != null">
                    EFFECTIVE_TIME_HIGH = #{item.effectiveTimeHigh,jdbcType=TIMESTAMP},
                </if>
                <if test="item.employerAddr != null">
                    EMPLOYER_ADDR = #{item.employerAddr,jdbcType=VARCHAR},
                </if>
                <if test="item.employerTelNo != null">
                    EMPLOYER_TEL_NO = #{item.employerTelNo,jdbcType=VARCHAR},
                </if>
                <if test="item.creationTime != null">
                    CREATION_TIME = #{item.creationTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.msgId != null">
                    MSG_ID = #{item.msgId,jdbcType=VARCHAR},
                </if>
                <if test="item.assignedCode != null">
                    ASSIGNED_CODE = #{item.assignedCode,jdbcType=VARCHAR},
                </if>
                <if test="item.assignedName != null">
                    ASSIGNED_NAME = #{item.assignedName,jdbcType=VARCHAR},
                </if>
                <if test="item.assignedDeptCode != null">
                    ASSIGNED_DEPT_CODE = #{item.assignedDeptCode,jdbcType=VARCHAR},
                </if>
                <if test="item.assignedDeptName != null">
                    ASSIGNED_DEPT_NAME = #{item.assignedDeptName,jdbcType=VARCHAR},
                </if>
                <if test="item.assignedOntactPerson != null">
                    ASSIGNED_ONTACT_PERSON = #{item.assignedOntactPerson,jdbcType=VARCHAR},
                </if>
                <if test="item.orgCode != null">
                    ORG_CODE = #{item.orgCode,jdbcType=VARCHAR},
                </if>
                <if test="item.sortNum != null">
                    SORT_NUM = #{item.sortNum,jdbcType=DECIMAL},
                </if>
                MODIFY_AT=sysdate
            </set>
            where id = #{item.id};
        </foreach>
    </update>
</mapper>