<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.register.dao.IOrgDeptInfoMapper">
<resultMap id="BaseResultMap" type="com.zoe.phip.register.model.OrgDeptInfo" extends="com.zoe.phip.module.service.MasterEntityResultMap">
    <result column="EXTENSION_ID" property="extensionId" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="DEPT_CODE" property="deptCode" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="DEPT_NAME" property="deptName" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="DEPT_TYPE_CODE" property="deptTypeCode" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="DEPT_TYPE_NAME" property="deptTypeName" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="DEPT_ROLE_NAME" property="deptRoleName" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="DEPT_PARENT_CODE" property="deptParentCode" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="DEPT_PARENT_NAME" property="deptParentName" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="ROLE_NAME" property="roleName" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="ROLE_STATE" property="roleState" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="EFFECTIVE_TIME_LOW" property="effectiveTimeLow" javaType="java.sql.Date"
            jdbcType="DATE"/>
    <result column="EFFECTIVE_TIME_HIGH" property="effectiveTimeHigh" javaType="java.sql.Date"
            jdbcType="DATE"/>
    <result column="EMPLOYER_ADDR" property="employerAddr" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="EMPLOYER_TEL_NO" property="employerTelNo" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="MSG_ID" property="msgId" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="ASSIGNED_CODE" property="assignedCode" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="ASSIGNED_NAME" property="assignedName" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="ASSIGNED_DEPT_CODE" property="assignedDeptCode" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="ASSIGNED_DEPT_NAME" property="assignedDeptName" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="ASSIGNED_CONTACT_PERSON" property="assignedContactPerson" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="CREATION_TIME" property="creationTime" javaType="java.sql.Date"
            jdbcType="DATE"/>
    <result column="SORT_NUM" property="sortNum" javaType="java.math.BigDecimal"
            jdbcType="DECIMAL"/>
    <result column="CHARGE_INFO_PERSON" property="chargeInfoPerson" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="CHARGE_INFO_TEL" property="chargeInfoTel" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="COMPLAINTS_HOTLINE" property="complaintsHotline" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="LEGAL_REPRESENTATIVE" property="legalRepresentative" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="WEB_URL" property="webUrl" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="EMAIL" property="email" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="POSTCODE" property="postcode" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="G_LONGITUDE" property="glongitude" javaType="java.math.BigDecimal"
            jdbcType="DECIMAL"/>
    <result column="G_LATITUDE" property="glatitude" javaType="java.math.BigDecimal"
            jdbcType="DECIMAL"/>
    <result column="PROVINCE_CODE" property="provinceCode" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="CITY_CODE" property="cityCode" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="COUNTY_CODE" property="countyCode" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="STREET_CODE" property="streetCode" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
    <result column="NEIGHBORHOOD_CODE" property="neighborhoodCode" javaType="java.lang.String"
            jdbcType="VARCHAR"/>
        </resultMap>
<insert id="addList" parameterType="com.zoe.phip.register.model.OrgDeptInfo">
INSERT INTO PHIP_ORG_DEPT_INFO (
EXTENSION_ID,
DEPT_CODE,
DEPT_NAME,
DEPT_TYPE_CODE,
DEPT_TYPE_NAME,
DEPT_ROLE_NAME,
DEPT_PARENT_CODE,
DEPT_PARENT_NAME,
ROLE_NAME,
ROLE_STATE,
EFFECTIVE_TIME_LOW,
EFFECTIVE_TIME_HIGH,
EMPLOYER_ADDR,
EMPLOYER_TEL_NO,
MSG_ID,
ASSIGNED_CODE,
ASSIGNED_NAME,
ASSIGNED_DEPT_CODE,
ASSIGNED_DEPT_NAME,
ASSIGNED_CONTACT_PERSON,
CREATION_TIME,
SORT_NUM,
CHARGE_INFO_PERSON,
CHARGE_INFO_TEL,
COMPLAINTS_HOTLINE,
LEGAL_REPRESENTATIVE,
WEB_URL,
EMAIL,
POSTCODE,
G_LONGITUDE,
G_LATITUDE,
PROVINCE_CODE,
CITY_CODE,
COUNTY_CODE,
STREET_CODE,
NEIGHBORHOOD_CODE,
<include refid="com.zoe.phip.module.service.baseMasterEntityInsert"/>)
<foreach collection="list" item="item" index="index" close="" open="" separator="union all">
SELECT
#{item.extensionId,jdbcType=VARCHAR},
#{item.deptCode,jdbcType=VARCHAR},
#{item.deptName,jdbcType=VARCHAR},
#{item.deptTypeCode,jdbcType=VARCHAR},
#{item.deptTypeName,jdbcType=VARCHAR},
#{item.deptRoleName,jdbcType=VARCHAR},
#{item.deptParentCode,jdbcType=VARCHAR},
#{item.deptParentName,jdbcType=VARCHAR},
#{item.roleName,jdbcType=VARCHAR},
#{item.roleState,jdbcType=VARCHAR},
#{item.effectiveTimeLow,jdbcType=DATE},
#{item.effectiveTimeHigh,jdbcType=DATE},
#{item.employerAddr,jdbcType=VARCHAR},
#{item.employerTelNo,jdbcType=VARCHAR},
#{item.msgId,jdbcType=VARCHAR},
#{item.assignedCode,jdbcType=VARCHAR},
#{item.assignedName,jdbcType=VARCHAR},
#{item.assignedDeptCode,jdbcType=VARCHAR},
#{item.assignedDeptName,jdbcType=VARCHAR},
#{item.assignedContactPerson,jdbcType=VARCHAR},
#{item.creationTime,jdbcType=DATE},
#{item.sortNum,jdbcType=DECIMAL},
#{item.chargeInfoPerson,jdbcType=VARCHAR},
#{item.chargeInfoTel,jdbcType=VARCHAR},
#{item.complaintsHotline,jdbcType=VARCHAR},
#{item.legalRepresentative,jdbcType=VARCHAR},
#{item.webUrl,jdbcType=VARCHAR},
#{item.email,jdbcType=VARCHAR},
#{item.postcode,jdbcType=VARCHAR},
#{item.glongitude,jdbcType=DECIMAL},
#{item.glatitude,jdbcType=DECIMAL},
#{item.provinceCode,jdbcType=VARCHAR},
#{item.cityCode,jdbcType=VARCHAR},
#{item.countyCode,jdbcType=VARCHAR},
#{item.streetCode,jdbcType=VARCHAR},
#{item.neighborhoodCode,jdbcType=VARCHAR},
<include refid="com.zoe.phip.module.service.baseMasterEntitySelect"/>
        FROM DUAL
        </foreach>
        </insert>
<insert id="defaultAdd" parameterType="java.util.List">
INSERT INTO PHIP_ORG_DEPT_INFO (
EXTENSION_ID,
DEPT_CODE,
DEPT_NAME,
DEPT_TYPE_CODE,
DEPT_TYPE_NAME,
DEPT_ROLE_NAME,
DEPT_PARENT_CODE,
DEPT_PARENT_NAME,
ROLE_NAME,
ROLE_STATE,
EFFECTIVE_TIME_LOW,
EFFECTIVE_TIME_HIGH,
EMPLOYER_ADDR,
EMPLOYER_TEL_NO,
MSG_ID,
ASSIGNED_CODE,
ASSIGNED_NAME,
ASSIGNED_DEPT_CODE,
ASSIGNED_DEPT_NAME,
ASSIGNED_CONTACT_PERSON,
CREATION_TIME,
SORT_NUM,
CHARGE_INFO_PERSON,
CHARGE_INFO_TEL,
COMPLAINTS_HOTLINE,
LEGAL_REPRESENTATIVE,
WEB_URL,
EMAIL,
POSTCODE,
G_LONGITUDE,
G_LATITUDE,
PROVINCE_CODE,
CITY_CODE,
COUNTY_CODE,
STREET_CODE,
NEIGHBORHOOD_CODE,
<include refid="com.zoe.phip.module.service.baseMasterEntityInsert"/>)
 VALUES(
#{extensionId,jdbcType=VARCHAR},
#{deptCode,jdbcType=VARCHAR},
#{deptName,jdbcType=VARCHAR},
#{deptTypeCode,jdbcType=VARCHAR},
#{deptTypeName,jdbcType=VARCHAR},
#{deptRoleName,jdbcType=VARCHAR},
#{deptParentCode,jdbcType=VARCHAR},
#{deptParentName,jdbcType=VARCHAR},
#{roleName,jdbcType=VARCHAR},
#{roleState,jdbcType=VARCHAR},
#{effectiveTimeLow,jdbcType=DATE},
#{effectiveTimeHigh,jdbcType=DATE},
#{employerAddr,jdbcType=VARCHAR},
#{employerTelNo,jdbcType=VARCHAR},
#{msgId,jdbcType=VARCHAR},
#{assignedCode,jdbcType=VARCHAR},
#{assignedName,jdbcType=VARCHAR},
#{assignedDeptCode,jdbcType=VARCHAR},
#{assignedDeptName,jdbcType=VARCHAR},
#{assignedContactPerson,jdbcType=VARCHAR},
#{creationTime,jdbcType=DATE},
#{sortNum,jdbcType=DECIMAL},
#{chargeInfoPerson,jdbcType=VARCHAR},
#{chargeInfoTel,jdbcType=VARCHAR},
#{complaintsHotline,jdbcType=VARCHAR},
#{legalRepresentative,jdbcType=VARCHAR},
#{webUrl,jdbcType=VARCHAR},
#{email,jdbcType=VARCHAR},
#{postcode,jdbcType=VARCHAR},
#{glongitude,jdbcType=DECIMAL},
#{glatitude,jdbcType=DECIMAL},
#{provinceCode,jdbcType=VARCHAR},
#{cityCode,jdbcType=VARCHAR},
#{countyCode,jdbcType=VARCHAR},
#{streetCode,jdbcType=VARCHAR},
#{neighborhoodCode,jdbcType=VARCHAR},
<include refid="com.zoe.phip.module.service.baseMasterEntitySelectDefault"/>
     )
        </insert>
<delete id="deleteByIds" parameterType="java.lang.String">
delete from PHIP_ORG_DEPT_INFO where ID in
<foreach collection="array" item="item" open="(" separator="," close=")">
    #{item}
</foreach>
</delete>
<delete id="deleteByList" parameterType="java.util.List">
delete from PHIP_ORG_DEPT_INFO where ID in
<foreach collection="list" item="item" open="(" separator="," close=")">
    #{item.id}
</foreach>
</delete>
<update id="updateList" parameterType="java.util.List">
<foreach collection="list" item="item" index="index" open="begin" close="end;" separator="">
    update PHIP_ORG_DEPT_INFO
    <set>
        <if test="item.extensionId != null">
            EXTENSION_ID = #{item.extensionId,jdbcType=VARCHAR},
        </if>
        <if test="item.deptCode != null">
            DEPT_CODE = #{item.deptCode,jdbcType=VARCHAR},
        </if>
        <if test="item.deptName != null">
            DEPT_NAME = #{item.deptName,jdbcType=VARCHAR},
        </if>
        <if test="item.deptTypeCode != null">
            DEPT_TYPE_CODE = #{item.deptTypeCode,jdbcType=VARCHAR},
        </if>
        <if test="item.deptTypeName != null">
            DEPT_TYPE_NAME = #{item.deptTypeName,jdbcType=VARCHAR},
        </if>
        <if test="item.deptRoleName != null">
            DEPT_ROLE_NAME = #{item.deptRoleName,jdbcType=VARCHAR},
        </if>
        <if test="item.deptParentCode != null">
            DEPT_PARENT_CODE = #{item.deptParentCode,jdbcType=VARCHAR},
        </if>
        <if test="item.deptParentName != null">
            DEPT_PARENT_NAME = #{item.deptParentName,jdbcType=VARCHAR},
        </if>
        <if test="item.roleName != null">
            ROLE_NAME = #{item.roleName,jdbcType=VARCHAR},
        </if>
        <if test="item.roleState != null">
            ROLE_STATE = #{item.roleState,jdbcType=VARCHAR},
        </if>
        <if test="item.effectiveTimeLow != null">
            EFFECTIVE_TIME_LOW = #{item.effectiveTimeLow,jdbcType=DATE},
        </if>
        <if test="item.effectiveTimeHigh != null">
            EFFECTIVE_TIME_HIGH = #{item.effectiveTimeHigh,jdbcType=DATE},
        </if>
        <if test="item.employerAddr != null">
            EMPLOYER_ADDR = #{item.employerAddr,jdbcType=VARCHAR},
        </if>
        <if test="item.employerTelNo != null">
            EMPLOYER_TEL_NO = #{item.employerTelNo,jdbcType=VARCHAR},
        </if>
        <if test="item.msgId != null">
            MSG_ID = #{item.msgId,jdbcType=VARCHAR},
        </if>
        <if test="item.assignedCode != null">
            ASSIGNED_CODE = #{item.assignedCode,jdbcType=VARCHAR},
        </if>
        <if test="item.assignedName != null">
            ASSIGNED_NAME = #{item.assignedName,jdbcType=VARCHAR},
        </if>
        <if test="item.assignedDeptCode != null">
            ASSIGNED_DEPT_CODE = #{item.assignedDeptCode,jdbcType=VARCHAR},
        </if>
        <if test="item.assignedDeptName != null">
            ASSIGNED_DEPT_NAME = #{item.assignedDeptName,jdbcType=VARCHAR},
        </if>
        <if test="item.assignedContactPerson != null">
            ASSIGNED_CONTACT_PERSON = #{item.assignedContactPerson,jdbcType=VARCHAR},
        </if>
        <if test="item.creationTime != null">
            CREATION_TIME = #{item.creationTime,jdbcType=DATE},
        </if>
        <if test="item.sortNum != null">
            SORT_NUM = #{item.sortNum,jdbcType=DECIMAL},
        </if>
        <if test="item.chargeInfoPerson != null">
            CHARGE_INFO_PERSON = #{item.chargeInfoPerson,jdbcType=VARCHAR},
        </if>
        <if test="item.chargeInfoTel != null">
            CHARGE_INFO_TEL = #{item.chargeInfoTel,jdbcType=VARCHAR},
        </if>
        <if test="item.complaintsHotline != null">
            COMPLAINTS_HOTLINE = #{item.complaintsHotline,jdbcType=VARCHAR},
        </if>
        <if test="item.legalRepresentative != null">
            LEGAL_REPRESENTATIVE = #{item.legalRepresentative,jdbcType=VARCHAR},
        </if>
        <if test="item.webUrl != null">
            WEB_URL = #{item.webUrl,jdbcType=VARCHAR},
        </if>
        <if test="item.email != null">
            EMAIL = #{item.email,jdbcType=VARCHAR},
        </if>
        <if test="item.postcode != null">
            POSTCODE = #{item.postcode,jdbcType=VARCHAR},
        </if>
        <if test="item.glongitude != null">
            G_LONGITUDE = #{item.glongitude,jdbcType=DECIMAL},
        </if>
        <if test="item.glatitude != null">
            G_LATITUDE = #{item.glatitude,jdbcType=DECIMAL},
        </if>
        <if test="item.provinceCode != null">
            PROVINCE_CODE = #{item.provinceCode,jdbcType=VARCHAR},
        </if>
        <if test="item.cityCode != null">
            CITY_CODE = #{item.cityCode,jdbcType=VARCHAR},
        </if>
        <if test="item.countyCode != null">
            COUNTY_CODE = #{item.countyCode,jdbcType=VARCHAR},
        </if>
        <if test="item.streetCode != null">
            STREET_CODE = #{item.streetCode,jdbcType=VARCHAR},
        </if>
        <if test="item.neighborhoodCode != null">
            NEIGHBORHOOD_CODE = #{item.neighborhoodCode,jdbcType=VARCHAR},
        </if>
        <if test="item.state != null">
            STATE = #{item.state,jdbcType=DECIMAL},
        </if>
        MODIFY_AT=sysdate
</set>
        where id = #{item.id};
        </foreach>
        </update>

        </mapper>