<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.register.dao.IXmanCardMapper">
    <resultMap id="BaseResultMap" type="com.zoe.phip.register.model.XmanCard" extends="com.zoe.phip.module.service.MasterEntityResultMap">
        <result column="XC_CARD_CODE" property="xcCardCode" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="XC_CARD_TYPE" property="xcCardType" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="XC_XMAN_ID" property="xcXmanId" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="HEALTH_RECORD_NO" property="healthRecordNo" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="XC_ORG_ID" property="xcOrgId" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="XC_DESCR" property="xcDescr" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="XC_ORG_CODE" property="xcOrgCode" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="addList" parameterType="java.util.List">
        INSERT INTO PHIP_XMAN_CARD (
        XC_CARD_CODE,
        XC_CARD_TYPE,
        XC_XMAN_ID,
        HEALTH_RECORD_NO,
        XC_ORG_ID,
        XC_DESCR,
        XC_ORG_CODE,
        <include refid="com.zoe.phip.module.service.baseMasterEntityInsert"/>)
        <foreach collection="list" item="item" index="index" close="" open="" separator="union all">
            SELECT
            #{item.xcCardCode,jdbcType=VARCHAR},
            #{item.xcCardType,jdbcType=VARCHAR},
            #{item.xcXmanId,jdbcType=VARCHAR},
            #{item.healthRecordNo,jdbcType=VARCHAR},
            #{item.xcOrgId,jdbcType=VARCHAR},
            #{item.xcDescr,jdbcType=VARCHAR},
            #{item.xcOrgCode,jdbcType=VARCHAR},
            <include refid="com.zoe.phip.module.service.baseMasterEntitySelect"/>
            FROM DUAL
        </foreach>
    </insert>
    <delete id="deleteByIds" parameterType="java.lang.String">
        delete from PHIP_XMAN_CARD where ID in
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <delete id="deleteByList" parameterType="java.util.List">
        delete from PHIP_XMAN_CARD where ID in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>
    <update id="updateList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close="end;" separator="">
            update PHIP_XMAN_CARD
            <set>
                <if test="item.xcCardCode != null">
                    XC_CARD_CODE = #{item.xcCardCode,jdbcType=VARCHAR},
                </if>
                <if test="item.xcCardType != null">
                    XC_CARD_TYPE = #{item.xcCardType,jdbcType=VARCHAR},
                </if>
                <if test="item.xcXmanId != null">
                    XC_XMAN_ID = #{item.xcXmanId,jdbcType=VARCHAR},
                </if>
                <if test="item.healthRecordNo != null">
                    HEALTH_RECORD_NO = #{item.healthRecordNo,jdbcType=VARCHAR},
                </if>
                <if test="item.xcOrgId != null">
                    XC_ORG_ID = #{item.xcOrgId,jdbcType=VARCHAR},
                </if>
                <if test="item.xcDescr != null">
                    XC_DESCR = #{item.xcDescr,jdbcType=VARCHAR},
                </if>
                <if test="item.xcOrgCode != null">
                    XC_ORG_CODE = #{item.xcOrgCode,jdbcType=VARCHAR},
                </if>
                <if test="item.state != null">
                    STATE = #{item.state,jdbcType=DECIMAL},
                </if>
                MODIFY_AT=sysdate
            </set>
            where id = #{item.id};
        </foreach>
    </update>
</mapper>