<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.dao.sm.ISystemDictCategoryMapper">
    <resultMap id="MultiResultMap" type="com.zoe.phip.model.sm.SystemDictCategory" extends="BaseResultMap">
    </resultMap>
    <select id="getDictCategories" resultMap="MultiResultMap" parameterType="java.util.Map">
        select * from sys_system_dict_category ssdc
        <where>
            <if test="_parameter.containsKey('key')">
                UPPER (concat(ssdc.NAME,ssdc.code) ) LIKE UPPER (CONCAT(CONCAT('%', #{key, jdbcType=VARCHAR}),'%'))
            </if>
        </where>
        ORDER BY ssdc.CODE
    </select>
    <select id="getDictCategory" resultMap="MultiResultMap" parameterType="java.util.Map">
        select * from sys_system_dict_category ssdc where UPPER (ssdc.CODE) = #{code, jdbcType=VARCHAR}
        ORDER  by ssdc.CODE
    </select>
</mapper>