<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.dao.sm.ISystemDictItemMapper">
    <resultMap id="MultiResultMap" type="com.zoe.phip.model.sm.SystemDictItem" extends="BaseResultMap">
    </resultMap>
    <select id="getDataItemList" resultMap="MultiResultMap" parameterType="java.util.Map">
        SELECT ssdi.* FROM SYS_SYSTEM_DICT_ITEM SSDI
        INNER JOIN SYS_SYSTEM_DICT_CATEGORY SSDC
        ON SSDC.ID = SSDI.FK_SYSTEM_DICT_CATEGORY_ID
        where 1 = 1
        <if test="_parameter.containsKey('categoryId')">
            AND SSDI.FK_SYSTEM_DICT_CATEGORY_ID = #{categoryId, jdbcType=VARCHAR}
        </if>
        <if test="_parameter.containsKey('key')">
            AND UPPER (concat(SSDI.NAME,SSDI.code) ) LIKE UPPER (CONCAT(CONCAT('%', #{key, jdbcType=VARCHAR}),'%'))
        </if>
        <if test="_parameter.containsKey('categoryCode')">
            AND UPPER (SSDC.NAME,SSDC.CODE) =UPPER (CONCAT(CONCAT('%', #{categoryCode, jdbcType=VARCHAR}),'%'))
        </if>
        <if test="_parameter.containsKey('code')">
            AND UPPER (concat(SSDI.code) ) LIKE UPPER (CONCAT(CONCAT('%', #{code, jdbcType=VARCHAR}),'%'))
        </if>
        ORDER BY SSDI.CODE
    </select>
</mapper>