<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.web.dao.sdm.IStRsCdaSetInfoMapper">
    <resultMap id="MultiResultMap" type="com.zoe.phip.web.model.sdm.StRsCdaSetInfo" extends="BaseResultMap">

    </resultMap>
    <update id="defaultUpdate" parameterType="com.zoe.phip.web.model.sdm.StRsCdaSetInfo">
        update PHIP_ST_RS_CDA_SET_INFO
        <set>
            <if test="fkCdaId != null">
                FK_CDA_ID = #{fkCdaId,jdbcType=VARCHAR},
            </if>
            <if test="fkSetId != null">
                FK_SET_ID = #{fkSetId,jdbcType=VARCHAR},
            </if>
            MODIFY_AT=sysdate
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="getSingle" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT (1) FROM PHIP_ST_RS_CDA_SET_INFO PSRCSI
        WHERE PSRCSI.FK_SET_ID = #{fkSetId,jdbcType=VARCHAR}
        and PSRCSI.FK_CDA_ID =#{fkCdaId,jdbcType=VARCHAR}
        <if test="_parameter.containsKey('id')">
            AND PSRCSI.id != #{id, jdbcType=VARCHAR}
        </if>
    </select>

    <delete id="deleteByFkSetIds" parameterType="java.lang.String">
        delete from PHIP_ST_RS_CDA_SET_INFO where FK_SET_ID in
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>