<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.web.dao.sdm.IStRsSetElementInfoMapper">
    <resultMap id="MultiResultMap" type="com.zoe.phip.web.model.sdm.StRsSetElementInfo" extends="BaseResultMap">
        <result column="DICT_CODE" property="dictCode" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="DICT_NAME" property="dictName" javaType="java.lang.String"/>
        <result column="BASE_ELEMENT_CODE" property="baseElementCode" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="BASE_ELEMENT_NAME" property="baseElementName" javaType="java.lang.String"/>
    </resultMap>
    <update id="defaultUpdate" parameterType="com.zoe.phip.web.model.sdm.StRsSetElementInfo">
        update PHIP_ST_RS_SET_ELEMENT_INFO
        <set>
            <if test="fkSetId != null">
                FK_SET_ID = #{fkSetId,jdbcType=VARCHAR},
            </if>
            <if test="fieldCode != null">
                FIELD_CODE = #{fieldCode,jdbcType=VARCHAR},
            </if>
            <if test="fieldName != null">
                FIELD_NAME = #{fieldName,jdbcType=VARCHAR},
            </if>
            <if test="isPrimaryKey != null">
                IS_PRIMARY_KEY = #{isPrimaryKey,jdbcType=DECIMAL},
            </if>
            <if test="isIndexKey != null">
                IS_INDEX_KEY = #{isIndexKey,jdbcType=DECIMAL},
            </if>
            <if test="isNullable != null">
                IS_NULLABLE = #{isNullable,jdbcType=DECIMAL},
            </if>
            <if test="fkElementId != null">
                FK_ELEMENT_ID = #{fkElementId,jdbcType=VARCHAR},
            </if>
            <if test="fkDictId != null">
                FK_DICT_ID = #{fkDictId,jdbcType=VARCHAR},
            </if>
            <if test="dataType != null">
                DATA_TYPE = #{dataType,jdbcType=VARCHAR},
            </if>
            <if test="dataLength != null">
                DATA_LENGTH = #{dataLength,jdbcType=VARCHAR},
            </if>
            <if test="dataAccuracy != null">
                DATA_ACCURACY = #{dataAccuracy,jdbcType=DECIMAL},
            </if>
            <if test="define != null">
                DEFINE = #{define,jdbcType=VARCHAR},
            </if>
            <if test="expectType != null">
                EXPECT_TYPE = #{expectType,jdbcType=DECIMAL},
            </if>
            <if test="expectValue != null">
                EXPECT_VALUE = #{expectValue,jdbcType=VARCHAR},
            </if>
            <if test="standardId != null">
                STANDARD_ID = #{standardId,jdbcType=VARCHAR},
            </if>
            <if test="columnSort != null">
                COLUMN_SORT = #{columnSort,jdbcType=VARCHAR},
            </if>
            <if test="others != null">
                OTHERS = #{others,jdbcType=VARCHAR},
            </if>
            <if test="standardCode != null">
                STANDARD_CODE = #{standardCode,jdbcType=VARCHAR},
            </if>
            <if test="dataAllowValue != null">
                DATA_ALLOW_VALUE = #{dataAllowValue,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                VERSION = #{version,jdbcType=VARCHAR},
            </if>
            MODIFY_AT=sysdate
        </set>
        where id = #{id}
    </update>
    <select id="getSingle" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT (1) FROM PHIP_ST_RS_SET_ELEMENT_INFO PSRSEI
        WHERE FK_SET_ID = #{fkSetId,jdbcType=VARCHAR}
        and FIELD_CODE =#{fieldCode,jdbcType=VARCHAR}
        <if test="_parameter.containsKey('id')">
            AND PSRSEI.id != #{id, jdbcType=VARCHAR}
        </if>
    </select>
    <select id="getDataPageList" parameterType="java.util.Map" resultMap="MultiResultMap">
        SELECT PSRSEI.*, PDC.CODE DICT_CODE, PDC.NAME DICT_NAME,
        PSEI.CODE BASE_ELEMENT_CODE,PSEI.NAME BASE_ELEMENT_NAME
        FROM PHIP_ST_RS_SET_ELEMENT_INFO PSRSEI
        LEFT JOIN PHIP_DICT_CATALOG PDC ON PSRSEI.FK_DICT_ID = PDC.ID
        LEFT JOIN PHIP_ST_ELEMENT_INFO PSEI ON PSEI.ID = PSRSEI.FK_ELEMENT_ID
        WHERE PSRSEI.FK_SET_ID = #{fkSetId,jdbcType=VARCHAR}
        <if test="_parameter.containsKey('key')">
            AND UPPER (CONCAT(PSRSEI.CODE,PSRSEI.NAME)) LIKE UPPER (#{key, jdbcType=VARCHAR})
        </if>
    </select>

    <select id="getBySetCode" parameterType="java.util.Map" resultMap="MultiResultMap">
        SELECT PSRSEI.*, PDC.CODE DICT_CODE, PDC.NAME DICT_NAME,
        PSEI.CODE BASE_ELEMENT_CODE,PSEI.NAME BASE_ELEMENT_NAME
        FROM PHIP_ST_RS_SET_ELEMENT_INFO PSRSEI
        INNER JOIN PHIP_ST_SET_INFO PSSI ON PSRSEI.FK_SET_ID = PSSI.ID
        LEFT JOIN PHIP_DICT_CATALOG PDC ON PSRSEI.FK_DICT_ID = PDC.ID
        LEFT JOIN PHIP_ST_ELEMENT_INFO PSEI ON PSEI.ID = PSRSEI.FK_ELEMENT_ID
        WHERE UPPER(PSSI.CODE) = UPPER (#{setCode,jdbcType=VARCHAR})
        AND UPPER (PSRSEI.FIELD_CODE) = UPPER (#{fieldCode,jdbcType=VARCHAR})
    </select>

</mapper>