<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.web.dao.sdm.IStandardVersionMapper">
<resultMap id="MultiResultMap" type="com.zoe.phip.web.model.sdm.StandardVersion" extends="BaseResultMap">

</resultMap>
    <update id="defaultUpdate" parameterType="com.zoe.phip.web.model.sdm.StandardVersion">
    update PHIP_STANDARD_VERSION
    <set>
        <if test="code != null">
            CODE = #{code,jdbcType=VARCHAR},
        </if>
        <if test="name != null">
            NAME = #{name,jdbcType=VARCHAR},
        </if>
        <if test="downloadUrl != null">
            DOWNLOAD_URL = #{downloadUrl,jdbcType=VARCHAR},
        </if>
        <if test="version != null">
            VERSION = #{version,jdbcType=VARCHAR},
        </if>
        <if test="pid != null">
            PID = #{pid,jdbcType=VARCHAR},
        </if>
        <if test="identification != null">
            IDENTIFICATION = #{identification,jdbcType=DECIMAL},
        </if>
        <if test="uploadStatus != null">
            UPLOAD_STATUS = #{uploadStatus,jdbcType=DECIMAL},
        </if>
        <if test="descr != null">
            DESCR = #{descr,jdbcType=VARCHAR},
        </if>
        <if test="state != null">
            STATE = #{state,jdbcType=DECIMAL},
        </if>
        MODIFY_AT=sysdate
</set>
        where id = #{id}
        </update>
    <select id="getSingle" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT (1) from PHIP_STANDARD_VERSION PSV
        WHERE UPPER (PSV.CODE) = UPPER (#{code, jdbcType=VARCHAR})
        <if test="_parameter.containsKey('id')">
            AND PSV.id != #{id, jdbcType=VARCHAR}
        </if>
    </select>
    <select id="getDataPageList" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT *
        FROM PHIP_STANDARD_VERSION PSV
        WHERE 1=1
        <if test="_parameter.containsKey('key')">
            AND UPPER (CONCAT(PSV.CODE,PSV.NAME) ) LIKE UPPER (CONCAT(CONCAT('%', #{key, jdbcType=VARCHAR}),'%'))
        </if>
    </select>
    <select id="getPid" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT COUNT (*) FROM PHIP_STANDARD_VERSION PSV
        WHERE 1=1
        <if test="_parameter.containsKey('pid')">
            AND PSV.PID != #{pid, jdbcType=VARCHAR}
        </if>
    </select>


</mapper>