<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.web.dao.sdm.IStNormSourceInfoMapper">
    <resultMap id="MultiResultMap" type="com.zoe.phip.web.model.sdm.StNormSourceInfo" extends="BaseResultMap">
    </resultMap>
    <update id="defaultUpdate" parameterType="com.zoe.phip.web.model.sdm.StNormSourceInfo">
        update PHIP_ST_NORM_SOURCE_INFO
        <set>
            <if test="code != null">
                CODE = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="dbLink != null">
                DB_LINK = #{dbLink,jdbcType=VARCHAR},
            </if>
            <if test="standardType != null">
                STANDARD_TYPE = #{standardType,jdbcType=DECIMAL},
            </if>
            <if test="startTime != null">
                START_TIME = #{startTime,jdbcType=DATE},
            </if>
            <if test="endTime != null">
                END_TIME = #{endTime,jdbcType=DATE},
            </if>
            <if test="descr != null">
                DESCR = #{descr,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                STATE = #{state,jdbcType=DECIMAL},
            </if>
            MODIFY_AT=sysdate
        </set>
        where id = #{id}
    </update>
    <select id="getDataPageList" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT *FROM PHIP_ST_NORM_SOURCE_INFO PSNSI
        WHERE 1 = 1
        <if test="_parameter.containsKey('key')">
            AND UPPER (CONCAT(PSNSI.CODE,PSNSI.name) ) LIKE UPPER (CONCAT(CONCAT('%', #{key, jdbcType=VARCHAR}),'%'))
        </if>
    </select>

</mapper>