<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.web.dao.sm.ISystemDictCategoryMapper">
    <resultMap id="BaseResultMap" type="com.zoe.phip.web.model.sm.SystemDictCategory" extends="com.zoe.phip.module.service.MasterEntityResultMap">
        <result column="NAME" property="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="CODE" property="code" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="DESCR" property="descr" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="addList" parameterType="java.util.List">
        INSERT INTO SYS_SYSTEM_DICT_CATEGORY (NAME,CODE,DESCR,
        <include refid="com.zoe.phip.module.service.baseMasterEntityInsert"/>)
        <foreach collection="list" item="item" index="index" close="" open="" separator="union all">
            SELECT
            #{item.name,jdbcType=VARCHAR},
            #{item.code,jdbcType=VARCHAR},
            #{item.descr,jdbcType=VARCHAR},
            <include refid="com.zoe.phip.module.service.baseMasterEntitySelect"/>
            FROM DUAL
        </foreach>
    </insert>
    <delete id="deleteByIds" parameterType="java.lang.String">
        delete from SYS_SYSTEM_DICT_CATEGORY where ID in
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <delete id="deleteByList" parameterType="java.util.List">
        delete from SYS_SYSTEM_DICT_CATEGORY where ID in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>
</mapper>