<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.web.dao.sm.ISystemParameterMapper">
    <resultMap id="BaseResultMap" type="com.zoe.phip.web.model.sm.SystemParameter"
               extends="com.zoe.phip.web.dao.MasterEntityResultMap">
        <result column="NAME" property="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="CODE" property="code" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="VALUE" property="value" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="VALUE_DEFINITION" property="valueDefinition" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="DESCR" property="descr" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="TYPE" property="type" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
        <result column="VALIDATE_REGULAR" property="validateRegular" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="VALIDATE_MESSAGE" property="validateMessage" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="addList" parameterType="java.util.List">
        INSERT INTO SYS_SYSTEM_PARAMETER
        (NAME,CODE,VALUE,VALUE_DEFINITION,DESCR,TYPE,VALIDATE_REGULAR,VALIDATE_MESSAGE,
        <include refid="com.zoe.phip.web.dao.baseMasterEntityInsert"/>)
        <foreach collection="list" item="item" index="index" close="" open="" separator="union all">
            SELECT
            #{item.name,jdbcType=VARCHAR},
            #{item.code,jdbcType=VARCHAR},
            #{item.value,jdbcType=VARCHAR},
            #{item.valueDefinition,jdbcType=VARCHAR},
            #{item.descr,jdbcType=VARCHAR},
            #{item.type,jdbcType=DECIMAL},
            #{item.validateRegular,jdbcType=VARCHAR},
            #{item.validateMessage,jdbcType=VARCHAR},
            <include refid="com.zoe.phip.web.dao.baseMasterEntitySelect"/>
            FROM DUAL
        </foreach>
    </insert>
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from SYS_SYSTEM_PARAMETER where ID in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <delete id="deleteByList" parameterType="java.util.List">
        delete from SYS_SYSTEM_PARAMETER where ID in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>
    <update id="updateList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close="end;" separator="">
            update SYS_SYSTEM_PARAMETER
            <set>
                <if test="item.name != null">
                    NAME = #{item.name,jdbcType=VARCHAR},
                </if>
                <if test="item.code != null">
                    CODE = #{item.code,jdbcType=VARCHAR},
                </if>
                <if test="item.value != null">
                    VALUE = #{item.value,jdbcType=VARCHAR},
                </if>
                MODIFY_AT=sysdate
            </set>
            where id = #{item.id};
        </foreach>
    </update>
</mapper>