<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoe.phip.web.dao.sm.ISystemUserMapper">
    <resultMap id="BaseResultMap" type="com.zoe.phip.web.model.sm.SystemUser" extends="com.zoe.phip.web.dao.MasterEntityResultMap">
        <result column="NAME" property="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="LOGIN_NAME" property="loginName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="password" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="addList" parameterType="java.util.List">
        INSERT INTO SYS_SYSTEM_USER (NAME,LOGIN_NAME,PASSWORD,
        <include refid="com.zoe.phip.web.dao.baseMasterEntityInsert"/>)
        <foreach collection="list" item="item" index="index" close="" open="" separator="union all">
            SELECT
            #{item.name,jdbcType=VARCHAR},
            #{item.loginName,jdbcType=VARCHAR},
            #{item.password,jdbcType=VARCHAR},
            <include refid="com.zoe.phip.web.dao.baseMasterEntitySelect"/>
            FROM DUAL
        </foreach>
    </insert>
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from SYS_SYSTEM_USER where ID in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <delete id="deleteByList" parameterType="java.util.List">
        delete from SYS_SYSTEM_USER where ID in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>
</mapper>